#inp {
  border-radius: 0;
  border-color: black;
}

/* #main-header{
  position: relative;
  top: 50px;
} */

#sub-now {
  border-radius: 0;
  width: 160px;
  position: relative;
  background-color: rgb(67, 67, 97);
  top: 8px;
  width: 150px;
  left: 10px;
}

#sub-now:hover {
  border-color: rgb(67, 67, 97);
  background-color: #202a46;
  color: white;
}

#button-mit {
  border-radius: 0;
  width: 160px;
  position: relative;
  top: 8px;
  position: relative;
  background-color: rgb(67, 67, 97);
  margin-left: 51%;
}

#button-mit:hover {
  border-color: rgb(67, 67, 97);
  background-color: #202a46;
  color: white;
}
Form.Control[type=text]:focus{
  outline: 2px solid orange;     
}